
:root {
    --light1:   #BEBEBE; /* lightest grey */
    --light2:   #9A9A9A; /* mid grey */
    --light3:   #909090; /* mid grey slightly darker */
    --accent1:  #3C3C3C; /* almost black */
    --accent2:  #217DFC;

    /* green: #28C948, blue: #FFA500, Orange: #217DFC*/
    
    --backgroundGray: #F5F5F5;


    --titleScale: 1.1;
}



html {
    zoom: 100%;
    /*min-width: 560px;*/
    width: 100%;
    background-size: cover;
}

/*
.TopBar {
    opacity: 0.5;

    width: 100%;
    height: 80px;
    z-index: 10;
    position: fixed;
    background-color: #3C3C3C;
}
*/

.Signature {
    margin: 0px 5px 0px 0px;
    text-align: right;
    color: var(--light1);
    font-weight: 400;
    font-size: 16px;
}


/* TITLE */


body {

    /*padding: 0 20px 0 20px;*/

    display: flex;
    flex-direction: column;

    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;

    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
    font-kerning: auto;
    font-size: calc(var(--titleScale) * 70px);
    font-weight: 900;
}
.nav {

    margin: 23px 0 -40px 20px;

    display: flex;

    align-items: center;

    justify-self: start;

}
@media only screen and (max-width: 768px)  {
    .nav {
        align-self: center;
        margin: 9px 0 0 0;
    }
}
.nav__link {

    color: #9A9A9A;
    text-decoration-line: none;
    margin: 0 5px 0 5px;
}
.nav__link--active {
    color: black;
    margin: 0 5px 0 5px;
    text-decoration-line: none;
}

.Title1 {
    font-size: calc(var(--titleScale) * 40px);

    color: var(--light1);
    margin-top: calc(var(--titleScale) * 20px);
    margin-bottom: calc(var(--titleScale) * -20px);
}
.Title2_1 {

    /*font-size: calc(var(--titleScale) * 60px);*/

    letter-spacing: -2px;

    color: var(--accent1);
    margin-top: 0px;
    margin-bottom: calc(var(--titleScale) * 15px);

}
.Title2_2 {
    color: var(--accent2);
}

@media only screen and (max-width: 768px) {
    .Title1 {
        font-size: calc(var(--titleScale) * 35px);
    }
    .Title2_1 {
        font-size: calc(var(--titleScale) * 60px);
    }
    /*.Title2_2 {*/
    /*    font-size: calc(var(--titleScale) * 30px);*/
    /*}*/
}

.DownloadDiv {


    align-self: center;
    margin-left: calc(var(--titleScale) * 205px);
    margin-bottom: calc(var(--titleScale) * 30px);
    
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    
}

.DownloadButton {
    
    cursor: pointer;

    background-color: var(--accent2);
    min-width: calc(var(--titleScale) * 240px);
    height: calc(var(--titleScale) * 65px);
    border-style: hidden;
    border-radius: calc(var(--titleScale) * 200px);
    color: white;
    font-size: calc(var(--titleScale) * 25px);
    font-weight: 500;
    
    transition: all 0.3s ease 0s;

}

.DownloadButton:hover {
    box-shadow: 0 0 5px 1px rgba(0,0,30,0.30), 0 15px 30px 0px rgba(0,40,60,0.1);
    transform: scale(1.01,1.01); /*translate(0px,-1px);*/
}

.icon-div {
    display: flex;
}

#mouseFixIcon {
    width: calc(var(--titleScale) * 40px);
    height: calc(var(--titleScale) * 40px);
    margin-right: 0px;
    margin-left: calc(var(--titleScale) * 18px);
}
.macos-compat {
    margin: calc(var(--titleScale) * 10px);
    
    color: var(--light2);
    font-size: calc(var(--titleScale) * 16.5px);
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .DownloadDiv {
        flex-direction: column;
        align-items: center;
        margin-left: calc(var(--titleScale) * 0px);
        margin-top: -5px;
    }

    .DownloadButton {
    }
    .icon-div {
        margin: 5px 0 -15px 0;
    }
    #mouseFixIcon {
        transform: scale(0.6);
        margin: 0;
    }
    .macos-compat {
        margin: calc(var(--titleScale) * 10px);
        margin-left: 0;
    }

}

.Subtitle {
    
    font-size: calc(var(--titleScale) * 15px);
    color: var(--light2);
    font-weight: 400;
    font-kerning: auto;
    margin-top: 0px;
    margin-bottom: calc(var(--titleScale) * 30px);
    margin-left: 20px;
    margin-right: 20px;
    letter-spacing: 0px;
}




.GraySection {
    width: 100%;
    background: var(--backgroundGray);
    display: flex;
    flex-direction: column;
}





/* BODY */


.SHBase {                   /* SH -> Section Header*/
    margin: 50px 10px 20px 10px;
    font-size: 30px;
    color: var(--light2);
    font-weight:400;
    letter-spacing: -0.25px;
}
.SHBlue {
    color: var(--accent2);
    font-weight: 500;
}
.SHBlack {
    color: var(--accent1);
    font-weight: 500;
}


.sec-desc--top {
    margin: 0 20px 0 20px;
    color: var(--light2);
    font-size: 16.5px;
    font-weight: 400
}

.sec-desc--bottom {

    margin: 0px;
    margin-bottom: 50px;
    margin-bottom: 5%;
    /*margin-bottom: 75px; !* 120px *!*/

    color: var(--light2);
    font-size: 16.5px;
    font-weight: 400
}

.video-container {


    display: block;


    transform: scale(1,1); /*have to do this so "overflow: hidden" works for some reason*/
    overflow: hidden;

    max-width: 62.5%;
    min-width: 768px;
    height: fit-content;

    margin: 25px auto 50px auto;

    border-radius: 5px;

    /*box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);*/
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15), 0 25px 30px 0 rgba(0,0,0,0.35);

    transition: all 0.5s ease 0.0s;

}

@media only screen and (max-width: 768px) {
    .video-container {

        /*border-style: solid;*/

        max-width: 100%;
        min-width: 100%;
    }
}

.video-container.elevate {
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15), 0 25px 30px 0 rgba(0,0,0,0.35);
    /*transform: scale(1.05,1.05);*/
}

.video {

    /*object-fit: fill;*/



    /*overflow: auto;*/
    /*align-content: center;*/
    /*max-width: 800px;*/

    /*border-style: solid;*/

    width: 100%;

    margin: 0 0 -3px 0;
    padding: 0 0 0 0;

}



.sec3-container {
    display: flex;
    flex-direction: column;

    align-items: center;

    /*grid-column-gap: 30px;*/

    /*overflow-x: hidden;*/
}

/*.sec3-container__left {*/

/*    !*border-style: solid;*!*/

/*    padding: 0 30px 0 30px;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/
/*.sec3-container__right {*/

/*    padding-left: 30px;*/


/*    background-color: transparent;*/
/*    !*border-style: solid;*!*/
/*}*/


.UIPicture-cont {

    margin: 25px 0 50px 0;

    max-width: 40%;
    min-width: 480px;

    background-color: transparent;
    /*border-style: solid;*/
}

@media only screen and (max-width: 520px) {
    .UIPicture-cont {
        min-width: calc(100% - 40px);
        min-width: calc(100% - 40px);
    }
}

.UIPicture {

    width: 100%;
    height: 100%;

    /*margin-top: 50px;*/
    /*margin-bottom: -50px;*/

    border-radius: 5px;

    transition: all 0.5s ease 0.0s;

    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.35);
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15), 0 25px 30px 0 rgba(0,0,0,0.35);
}
/*.UIPicture:hover {*/

/*    margin-top: -20px;*/
/*    margin-bottom: 20px;*/

/*    box-shadow: 0 0 20px 0 rgba(0,0,0,0.15), 0 25px 30px 0 rgba(0,0,0,0.35);*/
/*    transform: scale(1.05,1.05);*/

/*}*/





/* FOOTER */


.Footer {

    overflow: auto;
    white-space: nowrap;


    margin-top: 0px;
    margin-left: 2%;
    display: flex;
    align-items: center;
    
    width: 98%;
    height: 70px;
    text-align: left
}

.FooterLink {
    margin-top: 50px;
    font-size: 13px;
    color: var(--light2);
    text-decoration: none;
    margin: 25px;
    margin-bottom: 15px;
}

.DonationButton {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 5px;
    height: 40px;
    cursor: pointer;

    transition: all 0.5s ease 0.0s;
}
/*
.DonationButton:hover {
    transform: scale(1.05, 1.05);
}
*/


/*
animation experiments

.DownloadButton {
    cursor: pointer;

    animation-name: shrink;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}
.DownloadButton:hover {
    animation-name: grow;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}
@keyframes shrink {
    from {
        padding: 32px 75px;
    }
    to {
        padding: 30px 70px;
    }
}
@keyframes grow {
    from {
        padding: 30px 70px;
    }
    to {
        padding: 32px 75px;
    }
}
    box-shadow: 0 0 10px 1px rgba(60,0,0,0.30), 0 5px 20px rgba(255,165,0,0.50);
*/