
.disclaimer {
  text-align: center;
  font-style: italic;
  margin: 20px 0 0px 0;
}


:root {

  --innerContentWidth: 1500px;

  --light1:   #BEBEBE; /* lightest grey */
  --light2:   #9A9A9A; /* mid grey */
  --light3:   #909090; /* mid grey slightly darker */
  --accent1:  #3C3C3C; /* almost black */
  --accent2:  #217DFC;

  /* green: #28C948, blue: #FFA500, Orange: #217DFC*/

  --backgroundGray: #F5F5F5;
}


html {
}

body {

  height: calc(100vh - 30px);

  min-width: 100%;
  margin: 15px 0 0 0;

  text-align: left;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 22px;
}

.content {

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  height: 100%;

}

a {
  color: inherit;
}

@media only screen and (max-width: 768px) {
  .top-bar {

    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
    align-items: center;

    grid-gap: unset;

    margin: 0 0 10px 0;
  }
}
@media only screen and (min-width: 768px) {
  .top-bar {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;

    grid-gap: unset;

    margin: 0 0 10px 0;
  }
}

.nav {
  display: flex;

  align-items: center;

  margin: 0 0 0 20px;

  justify-self: start;

}
@media only screen and (max-width: 768px) {
  .nav {
    margin: 0 0 20px 0;
  }
}
.nav__link {


  color: #9A9A9A;
  margin: 0 5px 0 5px;
  text-decoration-line: none;
}
.nav__link--active {

  color: black;
  margin: 0 5px 0 5px;
  text-decoration-line: none;
}

.top-bar__title {

  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-items: center; - doesn't work for some reason*/
  width: 240px;

  height: 50px;
}
.top-bar__title__logo {

  max-width: 40px;
  max-height: 40px;

  margin: 0 10px 0 0;

}
.top-bar__title__txt {
  font-size: 26px;
  font-weight: 900;
  color: var(--light1);
}
.top-bar__title__txt--1 {
  color: var(--accent1);
}
.top-bar__title__txt--2 {
  color: var(--accent2);
}

.rule {
  margin: 0 30px 0 30px;
  width: calc(100% - 40px);
  border-style: none;
  border-top: 1px solid #ECECEC;
}
.rule--forcefullsize {
  position: absolute;
  left: 30px;
  width: calc(100vw - 60px);
  border-style: none;
  border-top: 1px solid #ECECEC;
}

.main-content {
  width: 100%;
}

.sec--intro {

  padding: 20px 5% 20px 5%;
}
.sec--questions {
  padding: 20px 5% 20px 5%;
  background-color: var(--backgroundGray);
}
.sec--changelog {
  padding: 20px 5% 20px 5%;
}

.innerContent {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--innerContentWidth);
}

.sec-title {

  align-self: center;
  font-size: 27px;
  color: var(--accent1);
}

.sec-txt {

  font-size: 16px;
  color: var(--accent1);

  margin-bottom: 20px;
}
.sec-txt__header {

  font-weight: bold;
  font-size: 16px;
  color: var(--accent1);
}




.Footer {

  overflow: auto;
  white-space: nowrap;


  margin: 5px auto 10px auto;
  padding: 0 5% 0 5%;
  display: flex;
  align-items: center;


  min-height: 70px;
  height: 70px;
  text-align: left
}

.FooterLink {
  font-size: 13px;
  color: var(--light2);
  text-decoration: none;


  margin: 25px calc(20px + 2%) 15px 0px;

}

.DonationButton {
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 5px;
  height: 40px;
  cursor: pointer;

  transition: all 0.5s ease 0.0s;
}